# Node.js dependencies
node_modules/
package-lock.json

# Bot session data
bot_sessions/

# Logs
*.log

# eslint config (opcional)
.eslintrc.js

# QR code image file generated for WhatsApp session
bot.qr.png

# Docker (si no usas Docker en el despliegue)
dockerfile

# Temporal queue logs
queue.class.log
core.class.log
baileys.log